
html, body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    height: 100%;
    margin: 0;
    background: url(../images/folk-pattern.png);
}

/* Header Info */
header {
    background-color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: 85px;
    padding: 5px 0;
    margin-bottom: 20px;
    margin: 0 auto;
    border-bottom: 2px solid #cccccc;
}

.links {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}

/* Colored Box for Name */
.studentname {
    width: 200px;
    height: 85px;
    background-color: #4aaaa5;
    margin-left: 370px;
    position: fixed;
}

/* Body Content */
h1 {
    color: #4aaaa5;
}
/* CSS for Image on About Page */
.about {
    float:left;
    margin-right: 5px;
}
/* CSS for content on about page */
.aboutcontent {
    padding: 5px;
    border: #dddddd;
}
/* wrapper CSS for content on page minus header/footer */
.wrapper {
     min-height: 100%;
    margin-bottom: -58px;
}
/* Content section center of page */
.content {
    width: 960px;
   
    margin: 0 auto;
    background: #ffffff;
}

.content-portfolio {
    width: 960px;
    height: 728px;
    margin: 0 auto;
    background: #ffffff;
}
/* Footer and Content */

/* Divider */
hr {
    width:900px;
}

/*
.banner {
    width:200px;
    height:50px;
    background-color:blue;
    color:white;
    text-align:center;
} */

/* Footer and spacing */
.footer,
.push {
    height: 50px;
}

footer {
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    margin: 0 auto;
    width: auto;
}

/* Portfolio CSS */

.portfolioimg{
    width: 200px;
    height: 200px;
    padding: 10px;
}

#img1 {
    float: left;
}

#img2 {
    float: left;
    clear: left;
}

/* CSS for Links in Header */

a:link {
    color: #777777;
}

a:visited{
    color: purple;
}

a:hover{
    color: black;
}

a:active{
    color:hotpink;
}